/**************************************/
/* Styles (LESS/CSS) files supervisor */
/**************************************/
/* Third party */
@import '../../bower_components/normalize.css/normalize.css';
/* Custom */
/***************************************************/
/* Set custom or change third-party Less variables */
/***************************************************/
/* Third party */
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
/*
The `retina-sprite` class sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

@icon-home-group: 'icon-home' @icon-home @icon-home-2x;

.icon-home {
  .retina-sprite(@icon-home-group);
}
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
/*
The `.retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in LESS

.retina-sprites(@retina-groups);
*/
.png-sprite:before
{
    display: inline-block;

    content: '';
}
.svg-sprite:before
{
    display: inline-block;

    width: 32px!important;
    height: 32px!important;

    content: '';

    background-size: contain!important;
}
.roboto-condensed
{
    font-family: 'Roboto Condensed', sans-serif;
}
*
{
    font-family: 'Roboto Condensed', sans-serif;
}
*
{
    box-sizing: border-box;
}
html,
body
{
    font-size: 100%;
}
@media (max-width: 1400px)
{
    html,
    body
    {
        font-size: 70%;
    }
}
@media (max-width: 1100px)
{
    html,
    body
    {
        font-size: 65%;
    }
}
@media (max-height: 850px)
{
    html,
    body
    {
        font-size: 65%;
    }
}
.container
{
    position: relative;

    clear: both;

    width: 100vw;
    min-width: 1024px;
    height: 100vh;
    min-height: 768px;
    margin: 0 auto;
}
.container:before
{
    display: table;

    content: '';
}
.card
{
    float: left;

    width: 100%;
    height: 100%;

    background-color: #fff;
}
.card--flip-back
{
    top: 0;

    background-color: #5a5a5a;
}
.card__header
{
    position: relative;
    z-index: 100;
    top: 48px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 90%;
    height: 123px;
    margin: 0 auto;

    text-align: center;

    background-color: #024b9d;
    box-shadow: 0 50px 30px -30px rgba(0, 0, 0, .3);
}
.card__header--2
{
    opacity: .9;
    box-shadow: 0 50px 30px -30px rgba(0, 0, 0, .4);
}
.card__header--3
{
    opacity: .8;
    box-shadow: 0 50px 30px -30px rgba(0, 0, 0, .5);
}
.card__header--4
{
    opacity: .7;
    box-shadow: 0 50px 30px -30px rgba(0, 0, 0, .6);
}
.card__header--5
{
    opacity: .6;
    box-shadow: 0 50px 30px -30px rgba(0, 0, 0, .7);
}
.card__title
{
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 34px;

    width: 100%;
    margin: 0;

    text-align: center;
    text-transform: uppercase;

    color: #fff;

    -webkit-align-self: center;
    -ms-flex-item-align: center;
            align-self: center;
}
.card__img
{
    position: absolute;

    width: 100%;
    height: 100%;

    -o-object-fit: cover;
       object-fit: cover;
}
.card__list
{
    position: absolute;
    top: 210px;

    margin: 0;
    padding-right: .5rem;
    padding-left: 3rem;

    list-style-type: none;
}
.card__list-item
{
    padding: 0;
    padding-bottom: .8rem;
}
.card__list-link
{
    font-size: 1.125rem;

    -webkit-transition: .5s;
            transition: .5s;
    text-decoration: none;
    letter-spacing: .9px;
    text-transform: uppercase;

    color: #fff;
}
.card__list-link--current
{
    color: #39f;
}
.card__list-link:hover
{
    color: #39f;
}
.footer-wrapper
{
    position: absolute;
    z-index: 150;
    bottom: 0;

    clear: both;
    overflow: hidden;

    width: 100%;
    margin: 0 auto;
    padding-top: 18px;
}
.footer
{
    height: 210px;
    padding-top: 50px;

    opacity: .9;
    background-color: #024b9d;
    box-shadow: 0 0 18px 0 #000;
}
.footer__main
{
    position: relative;

    clear: both;

    margin-bottom: 40px;

    text-align: center;
}
.footer__contacts
{
    font-size: 29px;
    font-weight: bold;

    position: absolute;
    bottom: 0;
    left: 98px;

    display: inline-block;

    color: #fff;
}
.footer__contacts--email
{
    right: 113px;
    left: inherit;
}
.footer__logo
{
    display: inline-block;
}
.footer__copyright
{
    text-align: center;

    opacity: .25;
    color: #fff;
}
.flip
{
    position: relative;
    z-index: 50;

    float: left;

    width: 20%;
    height: 100%;
    min-height: 768px;

    -webkit-perspective: 700;
            perspective: 700;
}
.flip:hover .flip__box
{
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
}
.flip__box
{
    position: relative;
    top: -123px;

    width: 100%;
    height: 100%;

    -webkit-transition: all .5s ease-out;
            transition: all .5s ease-out;
    -webkit-transform-origin: 90px 90px -90px;
        -ms-transform-origin: 90px 90px -90px;
            transform-origin: 90px 90px -90px;

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.flip__front
{
    position: absolute;

    width: 100%;
    height: 100%;

    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.flip__back
{
    position: absolute;
    left: 18rem;

    width: 100%;
    height: 100%;

    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.flip--inner > .card
{
    cursor: auto;
}
.flip--inner .flip__front
{
    display: none;
}
.flip--inner .flip__back
{
    display: block;

    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
}
.flip--inner:hover .flip__front
{
    display: none;

    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
}
.flip--inner:hover .flip__back
{
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
}
.content
{
    float: left;

    box-sizing: border-box;
    width: 77vw;
    height: 100vh;
    padding-top: 48px;
    padding-left: 40px;
}
.content__text
{
    font-size: 1.75rem;
}
