/**************************************/
/* Styles (LESS/CSS) files supervisor */
/**************************************/
/* Third party */
@import '../../bower_components/normalize.css/normalize.css';
/* Custom */
/***************************************************/
/* Set custom or change third-party Less variables */
/***************************************************/
/* Third party */
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
/*
The `retina-sprite` class sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

@icon-home-group: 'icon-home' @icon-home @icon-home-2x;

.icon-home {
  .retina-sprite(@icon-home-group);
}
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
/*
The `.retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in LESS

.retina-sprites(@retina-groups);
*/
.png-sprite:before
{
    display: inline-block;

    content: '';
}
.svg-sprite:before
{
    display: inline-block;

    width: 32px!important;
    height: 32px!important;

    content: '';

    background-size: contain!important;
}
.roboto-condensed
{
    font-family: 'Roboto Condensed', sans-serif;
}
*
{
    font-family: 'Roboto Condensed', sans-serif;
}
*
{
    box-sizing: border-box;
}
.container
{
    position: relative;

    clear: both;

    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}
.container:before
{
    display: table;

    content: '';
}
.card
{
    float: left;

    width: 376px;
    height: 1080px;
    padding-top: 221px;

    cursor: pointer;

    background-color: #fff;
}
.card--flip-back
{
    background-color: #5a5a5a;
}
.card__header
{
    position: absolute;
    z-index: 10;
    top: 48px;
    left: calc(50% - 172px);

    display: table;

    width: 345px;
    height: 123px;
    margin: 0 auto;
    padding: 0 15px;

    text-align: center;

    background-color: #024b9d;
    box-shadow: 0 50px 30px -30px rgba(0, 0, 0, .3);
}
.card__header--2
{
    opacity: .9;
    box-shadow: 0 50px 30px -30px rgba(0, 0, 0, .4);
}
.card__header--3
{
    opacity: .8;
    box-shadow: 0 50px 30px -30px rgba(0, 0, 0, .5);
}
.card__header--4
{
    opacity: .7;
    box-shadow: 0 50px 30px -30px rgba(0, 0, 0, .6);
}
.card__header--5
{
    opacity: .6;
    box-shadow: 0 50px 30px -30px rgba(0, 0, 0, .7);
}
.card__title
{
    font-size: 28px;
    font-weight: bold;
    line-height: 34px;

    display: table-cell;

    margin: 0;

    vertical-align: middle;
    text-transform: uppercase;

    color: #fff;
}
.card__img
{
    position: absolute;
    top: 0;

    height: 1080px;
}
.card__list
{
    margin: 0;
    padding-left: 40px;

    list-style-type: none;
}
.card__list-item
{
    padding: 0;
    padding-bottom: 25px;
}
.card__list-link
{
    font-size: 18px;

    -webkit-transition: .5s;
            transition: .5s;
    text-decoration: none;
    letter-spacing: .9px;
    text-transform: uppercase;

    color: #fff;
}
.card__list-link--current
{
    color: #39f;
}
.card__list-link:hover
{
    color: #39f;
}
.footer-wrapper
{
    position: relative;
    bottom: 228px;
    left: -20px;

    overflow: hidden;

    width: 1920px;
    margin: 0 auto;
    padding-top: 18px;
}
.footer
{
    width: 1920px;
    height: 210px;
    padding-top: 50px;

    opacity: .9;
    background-color: #024b9d;
    box-shadow: 0 0 18px 0 #000;
}
.footer__main
{
    position: relative;

    clear: both;

    margin-bottom: 40px;

    text-align: center;
}
.footer__contacts
{
    font-size: 29px;
    font-weight: bold;

    position: absolute;
    bottom: 0;
    left: 98px;

    display: inline-block;

    color: #fff;
}
.footer__contacts--email
{
    right: 113px;
    left: inherit;
}
.footer__logo
{
    display: inline-block;
}
.footer__copyright
{
    text-align: center;

    opacity: .25;
    color: #fff;
}
.flip
{
    position: relative;

    float: left;

    width: 376px;
    height: 1080px;

    -webkit-perspective: 800px;
            perspective: 800px;
}
.flip__front
{
    position: absolute;

    -webkit-transition: .8s;
            transition: .8s;

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.flip__back
{
    position: absolute;

    -webkit-transition: 1s;
            transition: 1s;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.flip:hover .flip__front
{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.flip:hover .flip__back
{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
}
.content
{
    float: left;

    width: 1504px;
    height: 1080px;
    padding-top: 48px;
    padding-left: 40px;
}
.content__text
{
    font-size: 28px;
}
