/**************************************/
/* Styles (LESS/CSS) files supervisor */
/**************************************/

/* Third party */
@import "../../bower_components/normalize.css/normalize.css";

/* Custom */
@import "common/_variables.less";
@import "common/_png-sprite.less";
@import "common/_svg-sprite.less";
@import "common/icons.less";
@import "common/svg-icons.less";
@import "common/typography.less";

* {
  box-sizing: border-box;
}

html, body {
  font-size: 100%;
  @media (max-width: 1400px) {
    font-size: 70%;
  }
  @media (max-width: 1100px) {
    font-size: 65%;
  }
  @media (max-height: 850px) {
    font-size: 65%;
  }
}

// Styles

.container{
  width: 100vw;
  height: 100vh;
  min-height: 768px;
  min-width: 1024px;
  margin: 0 auto;
  clear: both;
  position: relative;
  overflow: hidden;
  &:before{
    content: '';
    display: table;
  }
}

.card{
  width: 100%;
  height: 100%;
  float: left;
  background-color: #ffffff;
  &--flip-back{
    background-color: #5a5a5a;
    top: 0;
  }
  &__header{
    width: 90%;
    height: 123px;
    background-color: #024b9d;
    margin: 0 auto;
    text-align: center;
    //display: table;
    display: flex;
    padding: 0 15px;
    box-shadow: 0 50px 30px -30px rgba(0,0,0,.3);
    z-index: 100;

    //position: absolute;
    position: relative;
    top: 48px;
    //left: calc(~"50% - 172px");

    &--2{  opacity: .9; box-shadow: 0 50px 30px -30px rgba(0,0,0,.4);}
    &--3{  opacity: .8; box-shadow: 0 50px 30px -30px rgba(0,0,0,.5);}
    &--4{  opacity: .7; box-shadow: 0 50px 30px -30px rgba(0,0,0,.6);}
    &--5{  opacity: .6; box-shadow: 0 50px 30px -30px rgba(0,0,0,.7);}
  }
  &__title{
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 34px;
    text-transform: uppercase;
    margin: 0;
    align-self: center;
    color: #fff;
    width: 100%;
    text-align: center;
  }
  &__img{
    height: 100%;
    width: 100%;
    position: absolute;
    //top: -123px;
    object-fit: cover;
  }
  &__list{
    list-style-type: none;
    padding-left: 3rem;
    padding-right: 0.5rem;
    margin: 0;
    position: absolute;
    top: 210px;
  }
  &__list-item{
    padding: 0;
    padding-bottom: 0.8rem;
  }
  &__list-link{
    text-transform: uppercase;
    font-size: 1.125rem;
    color: #fff;
    letter-spacing: .9px;
    text-decoration: none;
    transition: .5s;
    &--current{
      color: #3399ff;
    }
    &:hover{
      color: #3399ff;
    }
  }
}

.footer-wrapper{
  //width: 100vw;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  padding-top: 18px;
  overflow: hidden;
  clear: both;
  z-index: 150;
  //left: -20px;
}

.footer{
  opacity: .9;
  height: 210px;
  background-color: #024b9d;
  box-shadow: 0 0px 18px 0 #000;
  padding-top: 50px;
  &__main{
    clear: both;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
  }
  &__contacts{
    font-size: 29px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    position: absolute;
    left: 98px;
    bottom: 0;
    &--email{
      right: 113px;
      left: inherit;
    }
  }
  &__logo{
    display: inline-block;
  }
  &__copyright{
    text-align: center;
    opacity: .25;
    color: #fff;
  }

}

.flip{
  perspective: 700;
  position: relative;
  width: 20%;
  height: 100%;
  float: left;
  min-height: 768px;

  z-index: 50;

  &:hover .flip__box{
    transform: rotateY(-90deg);
  }

  &__box{
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transition: all .5s ease-out;
    transform-origin: 90px 90px -90px;
    top: -123px;

    width: 100%;
    height: 100%;
    position: relative;
  }

  &__front{
    backface-visibility: hidden;
    position: absolute;
    transform-origin: 0 0;
    transform:rotateY(0);

    width: 100%;
    height: 100%;

  }
  &__back{
    backface-visibility: hidden;
    position: absolute;
    transform-origin: 0 0;
    transform:rotateY(90deg);

    width: 100%;
    height: 100%;
    left: 18rem;
  }
  &--inner{
    > .card{
      cursor: auto;
    }
    .flip__front{
      display: none;
    }
    .flip__back{
      display: block;
      transform: none;
      left: 0;
    }
    &:hover .flip__front{
      transform: none;
      display: none;
    }
    &:hover .flip__back{
      transform: none;
    }
  }
}

.content{
  box-sizing: border-box;
  float: left;
  width: 77vw;
  height: 100vh;
  padding-left: 40px;
  padding-top: 48px;
  &__text{
    font-size: 1.75rem;
  }
}

